---
layout: default
title: Ghoul
description: Monster
---

<h1>Description</h1>
<blockquote>At a glance it looks like a pale and emaciated man. A closer look will reveal large pitch-black eyes and lips peeling back from a gaping maw, filled with rows upon rows of mismatched teeth. It's hands are held at awkward angles, fingers replaced by black bone claws.</blockquote>
<p>Occasionally, when someone dies after succumbing to cannibalism due to hunger, they rise again as a ghoul.</p>

<h1>Stats</h1>

<table class="statblock">
    <tr><th>Strength</th><th>Agility</th><th>Intelligence</th><th>Constitution</th></tr>
    <tr><td>9</td><td>11</td><td>4</td><td>10</td></tr>
</table>

<table class="statblock">
    <tr><th>Dexterity</th><th>Wisdom</th><th>Charisma</th></tr>
    <tr><td>4</td><td>4</td><td>12</td></tr>
</table>

<table class="statblock">
    <tr><th>Hit Points</th><th>Armor</th></tr>
    <tr><td>20</td><td>0</td></tr>
</table>

<h1>Weapons</h1>
<p>Claws: 1d6 slashing {% include cleave.html %}</p>
<p>Teeth: 1d4 piercing {% include lifesteal.html %} rot</p>

<h1>Perks</h1>
<ul>
    <li>Immune to Stunned</li>
    <li>Immune to Knocked Out</li>
    <li>Immune to Exhaustion</li>
    <li>Immune to Pain</li>
    <li>Immune to Rot</li>
    <li>Immune to Minor Physical Wounds</li>
    <li><strong>Natural Crawler</strong>: You may leave or enter the Prone state for free as part of an action. The Prone state does not penalize you.</li>
    <li><strong>When They're Down</strong>: When an adjacent enemy enters the Prone state, you may make a free Strike against them.</li>
</ul>

<h1>Behaviour</h1>
<p>Almost all ghouls make their presence known to their prey before attacking them, oftentimes by simply standing in the middle of the road. Once spotted, it does not visibly react. However, within less than a minute of being sighted, it will either attack without warning, or retreat just as suddenly.</p>
<p>A ghoul will generally try to escape when at or below half hit points, unless it is <strong>frenzied</strong>.</p>
<p>If a creature suffers a physical wound, any ghouls in the area become <strong>frenzied</strong>.</p>
<p>A <strong>frenzied</strong> ghoul will recklessly move towards and attack the closest wounded creature.</p>
