---
layout: default
title: Giant Barkeater
description: Monstrosity I
---

<h1>Description</h1>
<blockquote>Looks like a duck-billed dinosaur walking around like a gorilla.</blockquote>

<h1>Stats</h1>

<table class="statblock">
    <tr><th>Strength</th><th>Agility</th><th>Intelligence</th><th>Constitution</th></tr>
    <tr><td>20</td><td>10</td><td>4</td><td>20</td></tr>
</table>

<table class="statblock">
    <tr><th>Dexterity</th><th>Wisdom</th><th>Charisma</th></tr>
    <tr><td>3</td><td>7</td><td>8</td></tr>
</table>

<table class="statblock">
    <tr><th>Hit Points</th><th>Armor</th></tr>
    <tr><td>44</td><td>1</td></tr>
</table>

<h1>Weapons</h1>
<p>Beak: 1d12 slashing {% include armor_piercing.html %}</p>
<p>Claws: 2d4 slashing {% include cleave.html %}</p>
<p>Fists: 1d6 b {% include cleave.html %} {% include knock_back.html %}</p>
<p>Tail: 1d8 b {% include knock_back.html %} {% include tail.html %}</p>

<h1>Perks</h1>
<ul>
    <li><strong>Enrage</strong>: While at or below half hit points, gain +1 AP each turn and +4 damage.</li>
</ul>

<h1>Behaviour</h1>
<p></p>
